<% layout('layouts/boilerplate.ejs') %>
<div class="row">
    <div class="col-6 offset-3 alert alert-danger" role="alert">
        <h4 class="alert-heading"><%= err.message %></h4>
        <p style="word-break: break-word;"><%= err.stack %></p>
    </div>
</div>
