<% layout('layouts/boilerplate.ejs') %>
<h1>All Campgrounds</h1>
<ul>
<% for (let camp of campgrounds) { %>
    <li> <a href="/campgrounds/<%= camp.id %>"><%= camp.title %></a></li>
    <% } %>
</ul>
