<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Campground</title>
</head>
<body>
    <p><b><%= campground.title %></b> - <%= campground.location %></p>
    <a href="/campgrounds">Home</a><br>
    <a href="/campgrounds/new">Add a new campground</a>
</body>
</html>